body{
    background-color: lightblue;
}
div{
    background-color: white;
}
p{
    padding: 0px 15px;
    line-height: 21px;
    margin-top: 0px;
}
a{
    text-decoration: none;
}
h1{
    padding-left: 15px;
    display: inline-block;
}
h3{
    padding-left: 7px;
    display: inline-block;
}
ul{
    list-style-type: none;
    overflow: hidden;
    display: inline;
}
li{
    display: block;
    font-size: 20px;
    text-align: center;
    float: right;
    padding-top: 30px;
    padding-left: 8px;
}
.wrapper{
    border: solid thin black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    height: auto;
    overflow: auto;
}
.header{
    background-color: #D3D3D3;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: solid thin black;
}
.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content{
    padding-top: 0px;
    margin-top: 0px;
}
.subject{
    margin: 15px;
    display: block;
    float: left;
}
.matter{
    padding-left: 15px;
}
#end{
    padding-right: 20px;
}